.container {
  height: 40vh;
  width: 90vw;
  background: rgba(30, 30, 30, 1);
  bottom: 100px;
  border-radius: 40px;
  z-index: 3;
}

.title {
  font-family: "Orbitron";
  color: #fff;
  font-weight: 900;
  font-size: 50px;
}

.explanation {
  font-family: "Inter";
  color: #fff;
  font-size: 16px;
  width: 55vw;
  text-align: center;
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.navbar {
  position: relative;
  right: 5%;
  top: 11%;
}
.details {
  position: relative;
  top: 5%;
  left: 30%;
}
.enter {
  width: 530px;
  height: 8vh;
  gap: 8px;
  border-radius: 40px;
  opacity: 0px;
}

.button {
  background: linear-gradient(
    315deg,
    #cd1013 1.19%,
    #ff0004 1.5%,
    #2500ff 94.46%
  );
  font-family: "Orbitron";
  font-size: 16px;
  color: #fff;
  border-radius: 40px;
  height: 7vh;
  font-weight: 900;
  width: 10vw;
  position: relative;
  right: 12%;
}

.arrow {
  background-image: url(arrow.png);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}

.button div {
  display: flex;
  gap: 10%;
  align-items: center;
  justify-content: center;
}

.button:hover {
  opacity: 0.8;
}

@media (max-width: 480px) {
  .container {
    height: 60vh;
    width: 100vw;
  }
  .navbar {
    position: relative;
    top: 10%;
    left: -2%;
  }
  .details {
    left: 0%;
  }
  .enter {
    position: relative;
    height: 5vh;
    width: 70vw;
    top: 5%;
    left: 10vw;
  }
  .button {
    position: relative;
    width: 20vw;
    font-size: 0.4rem;
    right: 5%;
    bottom: 2vh;
  }
  .button div {
    flex-direction: column;
    position: relative;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .container {
    height: 80vh;
    width: 100vw;
  }
  .navbar {
    position: relative;
    top: 10%;
    left: -2%;
  }
  .details {
    left: 0%;
  }
  .enter {
    position: relative;
    height: 5vh;
    width: 70vw;
    top: 5%;
    left: 10vw;
  }
  .button {
    position: relative;
    width: 20vw;
    font-size: 0.4rem;
    right: 5%;
    bottom: 2vh;
  }
  .button div {
    flex-direction: column;
    position: relative;
  }
}
